body{
    background-color: #E6E6FA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-style: oblique;
    text-shadow: black 0.1em 0.1em 0.2em
}
form{
    margin: 200px auto;
    background-color:#D8BFD8;
    height:10cm;
    width: 10cm;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 10px #B0E0E6;
}
.botao{
    background-color:rgb(189, 129, 204);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}