body{
    background-color: #E6E6FA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    background-color: #e86f9e;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(70, 193, 224);
    margin: 200px auto;
}